NODE_ENV="development"

# Base URL of your app
NUXT_PUBLIC_APP_URL=http://127.0.0.1:3000 
NUXT_PUBLIC_APP_NAME="Better Nuxt"

# Session Password, Generate a random string, 32 characters long
# You can use this command to generate a random string: openssl rand -hex 16
NUXT_SESSION_PASSWORD=
# Turso Database URL and Token, Get them from Turso Cloud. file:local.db will be used in development env
NUXT_TURSO_DATABASE_URL= 
NUXT_TURSO_AUTH_TOKEN=

# Better Auth Secret, Generate a random string, 32 characters long
# You can use this command to generate a random string: openssl rand -hex 16
NUXT_BETTER_AUTH_SECRET=
NUXT_BETTER_AUTH_URL=http://127.0.0.1:3000

# Email Configuration, Get them from Mailgun.
NUXT_MAILGUN_API_KEY=
NUXT_MAILGUN_DOMAIN=
NUXT_MAIL_FROM_EMAIL=

#TEST MAIL Configuration, This project uses Ethereal Email for testing purposes.
NUXT_TEST_EMAIL_HOST=smtp.ethereal.email
NUXT_TEST_EMAIL_AUTH_USER=
NUXT_TEST_EMAIL_AUTH_PASSWORD=
